#mainForm {
    margin-top: 20px;
    margin-bottom: 30px;
}

#mainForm .form-group {
    margin-right: 7px;
}

#duplicatesSection,
#uniqueSection {
    margin-top: 30px;
    margin-bottom: 30px;
}

#duplicatesSection span,
#uniqueSection span {
    color: red;
    font-weight: bold;
}