<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona główna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{/mainView.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <form id="mainForm" class="form-inline">
            <div class="form-group">
                <label for="columnName">Kolumna w tabeli 'some_entity': </label>
                <select class="form-control" id="columnName">
                    <option>column1</option>
                    <option>column2</option>
                    <option>column3</option>
                    <option>column4</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">OK</button>
        </form>

        <div id="duplicatesSection">
            <h4>Duplikaty:</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>column1</th>
                    <th>column2</th>
                    <th>column3</th>
                    <th>column4</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <span>Brak wyników</span>
        </div>

        <div id="uniqueSection">
            <h4>Unikalne:</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>column1</th>
                    <th>column2</th>
                    <th>column3</th>
                    <th>column4</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <span>Brak wyników</span>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script th:src="@{/mainView.js}"></script>
</body>
</html>